$primary-btn-color: #0e9cea;
$primary-btn-color--secondary: #127fbd;

$secondary-btn-color: #28a62e;
$secondary-btn-color--secondary: #207e24;

$warning-btn-color: #d0d03b;
$warning-btn-color--secondary: #b4b432;

$error-btn-color: #c23f3f;
$error-btn-color--secondary: #9b3333;



